<div class="jumbotron" ng-controller="imageController">

    <div class="well col-md-3 col-md-offset-1 button" ng-repeat="(key,image) in images" ng-click="redirect_instance(key)">
        <p style="text-align:center;">
            <img ng-show="image.img"  ng-src="{{ image.img }}" class="instance-thumbnail">
        </p>
        <p id="NameImage">{{ image.name }} <span ng-show="image.status" class="glyphicon glyphicon-check" /></p>
        <div class="clearfix"></div>
        <p id="DescImage" >{{ image.desc }}</p>
    </div>
</div>
