<div class="jumbotron text-center" ng-controller="listController">

    <div class=" alert alert-danger" ng-show="error">
        <i id="warning" class="fa fa-warning"></i> {{'ERROR'|translate}} : {{ error.error }}
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>{{ 'INSTANCE_STATUS'|translate }}</td>
                <td>{{ 'INSTANCE_LAUNCHED_AT'|translate }}</td>
                <td>{{ 'INSTANCE_LIFE_TIME'|translate }}</td>
                <td>{{ 'INSTANCE_ACTIONS'|translate }}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="instance in instances">
                <td>{{ 'INSTANCE_' + instance.status|translate }}</td>
                <td>{{ instance.launched_at }}</td>
                <td>{{ instance.life_time }}</td>
                <td><span ng-show="instance.status != 'DELETED'" ng-click="go_to_instance(instance)" class="glyphicon glyphicon glyphicon-eye-open"></span></td>
                </td>
            </tr>
        </tbody>
    </table>

</div>