.alert{
    border-radius: 0px ;
    padding: 0;
    padding-top: 5px;
}
.alert-danger {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #E86747;
    border-color: none;
    font-size: 20px;
}
.alert-success {
    color: #6E6E6E ;
    background-color: #f9f9f9 ;
    border-color: #eaeaea ;
}
.alert-success .alert-link {
    color: #c1AB80;
    font-weight: 500;
}
.alert-info {
    color:#6E6E6E;
    background-color: #B7D4F8;
    border-color: #A4BDDB;
}

.alert-warning .btn{
    background: DDCE7E;
    border-color: #c1AB80 ;
    color: #c1AB80;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border-radius:0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 1em;
    margin-bottom: 5px;
}

.alert-warning .btn:hover{
    background: #c1AB80;
    color:white;
}
