slider div.handle, [slider] div.handle {
    cursor: pointer;
    width: 25px;
    height: 25px;
    top: -6px !important;
    background-color: #ffffff !important;
    z-index: 2;
    box-shadow: 1px 1px 6px rgba(85, 85, 85, 0.55);
}
slider div.bar, [slider] div.bar {
    width: 100%;
    height: 10px !important;
    border-radius: 0px !important;
    background: #DCDCDC;
    overflow: hidden;
}
slider div.handle.active:after, [slider] div.handle.active:after {
    display: none !important;
}
slider div.handle:after, [slider] div.handle:after {
    display: none !important;
}
slider div.handle, [slider] div.handle {
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -8px;
    background-color: #fff;
    border: none !important;
    z-index: 2;
    border-radius: 100%;
}
