@font-face{
    font-family : "Roboto";
    src : url('../font/Roboto-Regular.ttf'),
    src : url('../font/Roboto-Light.ttf'),
    src : url('../font/Roboto-Meidum.ttf'),
    src : url('../font/Roboto-Bold.ttf');
}
body{
    background: #FCFCFC;
}
.jumbotron {
    background-color: inherit;
}
.jumbotron p {
    font-size: 1em;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* Menu */
.navbar-default{
    background-color:#ffffff ;
    border-top: 2px solid #C1AB80 ;
    border-bottom: 1px solid #f2f2f2 ;
}
.logo {
    padding: 10px;
}
.navbar-default .navbar-nav > li > a {
    margin-top: 22px;
}
.fa-sign-out, .fa-shield, .fa-list-alt, .fa-lock {
    color:#C1AB80;
}

.jumbotron p {
    margin-bottom: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
#DescImage{
    font-family: 'Roboto', sans-serif;
    color:#c1AB80;
    font-weight: 300;
    float:left;
}
#NameImage{
    font-family: 'Roboto', sans-serif;
    color:#6E6E6E;
    font-weight: 500;
    float:right;

}
.DescInstance{
    text-align: center;
    font-weight: 500 ;
    color:#6E6E6E ;
    font-family: 'Roboto', sans-serif;
    -webkit-animation: Opacity 5s 1; /* Safari 4+ */
    -moz-animation:    Opacity 5s 1; /* Fx 5+ */
    -o-animation:      Opacity 5s 1; /* Opera 12+ */
    animation:         Opacity 5s 1; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes Opacity {
    from {opacity:0;}
    to {opacity:1;}
}

.bold{
    font-weight: 700;
}
span.glyphicon.glyphicon-time {
    position: relative;
    top: 3px;
    color:#c1ab80;
}
p.ng-binding {
color: #6E6E6E;
}

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0;
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
}

a.ng-binding{color: #C1AB80;font-weight: 500;}
.Author{color: #c1AB80;}
.Author:hover{color: #c1AB80;}
/*Index*/
/* Bloc instance */
.well{
    border-bottom: 2px solid #c1AB80 ;
    border-radius: 8px;
    background-color: #ffffff ;
    opacity:0.8;
}
.well:hover{
    opacity: 1;
}
/* hover bloc well */
.button {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*Instance*/
.btn{
    background: #ffffff;
    border-color: #c1AB80 ;
    color: #c1AB80;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border-radius:0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 1em;
    vertical-align: inherit;
    margin-bottom: 5px;
}

.btn:hover{
    background: #c1AB80;
    color:white;
}
.mr3{
    margin-top: 3rem;
}

span.Time.ng-binding {
    font-weight: 500;
}
p.InfoAlerteP.ng-binding {
font-weight: 500;
}
.fa-warning{
    color:#ffffff;
}

.fa-check {
    color: #5C80AB;
}
.fa-refresh{
    color: #c1AB80;
}

#warning {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 3s;
    -webkit-transform-origin:	50% 100%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: infinite;
}

.instance-thumbnail {
    width: 150px;
    height: 150px;
}