body {      
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #666666;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 20px;  
    padding: 100px; 
}

body * {
    outline: none;
}

input[type=text], input[type=password], button {    
    border-radius: 4px;
    height: 33px;
    display: inline-block;  
    box-sizing: border-box;
    margin: 2px 0;
    width: 210px;   
    font-size: 1.2em;
}

input[type=text], input[type=password] {    
    background-color: #EBF0F2;
    border: 2px solid #FFF; 
    color: #41484A;
    padding: 8px 18px;      
    width: 290px;   

    -webkit-transition: box-shadow .3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    -ms-transition: box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;  
    transition: box-shadow .3s ease-in-out; 
}

input[type=text]:focus, input[type=password]:focus {
    box-shadow: 0 0 10px #314B64;   
}

button {
    background: #314B64;
    background: -moz-linear-gradient(0% 100% 90deg, rgba(49, 75, 100, .8), #314B64);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(49, 75, 100, .8)), to(#314B64));
    text-shadow: 0 -1px 1px #1D62AB;
    border: 0;
    color: #fff;        
    padding: 0 20px;    
    text-align: center; 
    line-height: 30px;  

    -webkit-transition: box-shadow .1s ease-in-out;
    -moz-transition: box-shadow .1s ease-in-out;
    -ms-transition: box-shadow .1s ease-in-out;
    -o-transition: box-shadow .1s ease-in-out;  
    transition: box-shadow .1s ease-in-out; 
}

button:active {
    box-shadow: inset 0 0 6px 3px #122C45, 0 1px 0 0 #FFF;
    text-shadow: 0 -1px 1px #2361A4;
}

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    font-size: 2em;
    line-height: 55px;
    margin-bottom: 20px;            
}       

h1 img {
    position: relative;
    top: 15px;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    font-size: 1.3em;
}

label {
    font-size: 1.2em;
    display: inline-block;
    padding: 8px 10px 8px 0;
    line-height: 20px;  
}

form .row {
    margin-bottom: 15px;
}


#main {
    width: 500px;
    padding: 15px 50px;
    margin: 0 auto;
    background-color: #F1F1F1;
    border-radius: 10px;    
}

#head {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}


.alert {
    margin-right: 30px;
}

.span3 {
    width: 150px;
}

.span6 {
    width: 500px;
}

.form-action {
    text-align: center;
}